{% extends 'fixed.html.twig' %}

{% set title = document.bytitle %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% set thumbs = [document.thumbs_url] %}
    {% set presentation = [document.min_url] %}

    {% set images = thumbs | merge(presentation)  %}

    {# Viewer settings #}
    {% set pageCount = images.0|length %}

    {% set showDoublePage = app.request.get('showDoublePage') == 'true' %}
    {% set page = app.request.get('page')|number_format %}
    {% if page < 1 or page > pageCount %}
        {% set page = 1 %}
    {% elseif showDoublePage and page % 2 == 0 %}
        {% set page = page + 1 %}
    {% endif %}

    {% set oddPageCountOrNotLastPage = pageCount % 2 > 0 or page != pageCount %}
    {% set secondPage = showDoublePage and (page > 1 and oddPageCountOrNotLastPage) ? page - 1 : false %}

    <main class="main" id="main">
        <section class="viewer">
            {% include "@SubugoeFind/Default/partials/header.html.twig" %}
            <div class="viewer_main">
                <div class="viewer_panel -scan">
                    {% include "@SubugoeFind/Default/partials/scan.html.twig" %}
                </div>
                {% if document.gdzocr_url is defined %}
                    <div class="viewer_panel -transcript -hidden">
                        {% include "@SubugoeFind/Default/partials/transcript.html.twig" %}
                    </div>
                {% endif %}
                <div class="viewer_panel -toc -hidden">
                    {% include "@SubugoeFind/Default/partials/toc.html.twig" %}
                </div>
                <div class="viewer_panel -metadata">
                    {% include "@SubugoeFind/Default/partials/metadata.html.twig" %}
                </div>
            </div>
            {% include "@SubugoeFind/Default/partials/footer.html.twig" %}
        </section>
    </main>

{% endblock %}
