/app/config/parameters.yml
/build/*
!/build/gradle
/node_modules/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!/var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!/var/sessions/.gitkeep
!/var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/css/
/web/fonts/
!/web/fonts/classico/
/web/js/script.js
/web/js/vendor
!/web/js/vendor/jquery.min.js
/src/Subugoe/*
.idea/
.gradle
gradlew.bat
web/media/cache
