<div class="footer">
    <div class="footer_left">
        <ul>
            <li>
                <a href="{{ path('_contact') }}" title="Kontakt">Kontakt</a>
            </li>
            <li>
                <a href="{{ path('_imprint') }}" title="Impressum">Impressum</a>
            </li>
        </ul>
    </div>
    <div class="footer_right">
        <ul>
            <li>
                <a rel="nofollow" href="feedback/?tx_nkwuserfeedback%5Bpage%5D=">Feedback</a>
            </li>
            <li>
	<span class="short-url">
		<a href="https://www05.sub.uni-goettingen.de/-A5pWk" class="short-url_link" target="_self"
           rel="nofollow">Short URL</a>
		<span class="short-url_popup">
			<input type="text" class="short-url_input"
                   value="https://www05.sub.uni-goettingen.de/-A5pWk" readonly>
			</span>
		</span>
            </li>
        </ul>
    </div>
</div>
