<!DOCTYPE html>
<html>
    {% include "partials/site/head.html.twig" %}
    <body class="site">
        <div class="wrap">
            {% include 'partials/site/header.html.twig' %}

            <div class="content">
                {% block body %}{% endblock %}
            </div>

            {% include 'partials/site/footer.html.twig' %}

            {% include 'partials/site/colophon.html.twig' %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('js/vendor.js') }}"></script>
            <script src="{{ asset('js/sub-legacy.js') }}"></script>>
        {% endblock %}
    </body>
</html>
