{% tree item in structure %}
  {% if treeloop.first %}<ul>{% endif %}
    <li><a href="{{ path('_detail', {'id': id ~ '|' ~ item.id}) }}{% if item.physicalPages.0 is defined and item.physicalPages.0 is not null %}?page={{ item.physicalPages.0|split('_').1|abs }}{% endif %}">{% if item.label is not null %}{{ item.label }}{% else %}{{ item.type }}{% endif %}</a>
        {% subtree item.children %}
    </li>
  {% if treeloop.last %}</ul>{% endif %}
{% endtree %}