.advanced-search {
    button {
        @include button;
        min-width: 6em;
    }
}

.advanced-search_controls {
    margin: $grid 0 0;
}

.advanced-search_row {
    margin-bottom: ($grid / 2);

    &.-fulltext {
        border-top: $border-width solid $shade;
        padding-top: ($grid / 2);
    }

    > label {
        color: $text-color-light;
        display: inline-block;
        font-weight: bold;
        width: 10em;
    }

    > input {
        @include input;
        max-width: 20em;
        width: 61.8%;

        @include respond-to(small) {
            max-width: none;
            width: 100%;
        }
    }
}

.advanced-search_parameter {
    background: $white;
    margin-right: ($grid / 4);
    padding: ($grid / 8);
}
