.advanced-search {
    display: flex;
    margin: (-$grid / 4);
    flex-wrap: wrap;

    @include respond-to(large) {
        display: block;
    }

    button {
        @include button;
        float: right;
        padding: ($grid / 2) .5em;
        min-width: 8em;
    }
}

.advanced-search_controls {
    padding: ($grid / 2) ($grid / 4);
    width: 100%;
}

.advanced-search_row {
    background: $white;
    border-radius: $br;
    box-shadow: $card-shadow;
    flex-grow: 1;
    margin: ($grid / 4);
    min-width: 30%;
    padding: ($grid / 4);

    &.-fulltext {
        min-width: 90%;
    }

    > label {
        line-height: 1;
        display: block;
        margin-bottom: ($grid / 4);
    }

    > input {
        @include input;
        padding: ($grid / 2 - $border-width) .5em;
        width: 100%;
    }
}

.advanced-search_parameter {
    background: $white;
    margin-right: ($grid / 4);
    padding: ($grid / 8);
}
