.collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: (-$grid / 4);
}

.collections_above {
    padding-bottom: ($grid / 2);
}

.collections_header {
    @include clearfix;
}

.collections_image {
    @include transition(opacity);
    border-radius: $br;
    display: block;
    height: auto;
    width: 100%;
}

$collection_item-row-count: 5;
$collection_item-size: floor(($site-width - 1.5 * $grid) / $collection_item-row-count) - ($grid / 2);
$collection_item-size-small: 160px;

.collections_item {
    @include transition(opacity);
    border-radius: $br;
    box-shadow: $card-shadow;
    display: block;
    height: $collection_item-size;
    margin: ($grid / 4);
    overflow: hidden;
    width: $collection_item-size;

    @include hover {
        opacity: .7;
    }

    @include respond-to(small) {
        height: $collection_item-size-small;
        width: $collection_item-size-small;
    }
}

.collections_item:before {
    content: none !important;
}

.collections_link {
    background: none !important;
    box-shadow: none !important;
    color: $white;
    display: block;
    padding: 0 !important;
    position: relative;
}

.collections_name {
    @include typo-scale(1);
    background: $shade-dark;
    bottom: 0;
    display: block;
    font-family: $font-family-display;
    padding: ($grid / 4) .25em;
    position: absolute;
    text-align: center;
    text-shadow: $shade-inset,  0 0 .5em $black, 0 0 1em $black, 0 0 2em $black;
    width: 100%;

    .fonts-failed & {
        font-family: $font-family-text-fallback;
    }

    @include respond-to(small) {
        font-size: $font-size;
        line-height: 1;
    }
}

.collection_rss-link {
    float: right;
    margin: 0 0 $grid 1em;

    @include respond-to(small) {
        float: none;
        margin-left: 0;
    }

    a {
        box-shadow: none;
    }
}

.collections_title {
    float: left;

    @include respond-to(small) {
        float: none;
    }
}
