// 1. Setting flex-shrink to 0 prevents footer overlapping with content on Android < 6, IE and Mobile Safari < 10

.content {
    flex: 1 0 auto; // 1
    margin: $grid;
    position: relative;
    z-index: 0;

    h1 {
        font-size: $grid;
        line-height: $grid;
    }

    @include respond-to(large) {
        margin: $grid ($grid  / 2);
    }

    > :last-child:not(:only-child) {
        margin-bottom: 0;
    }

    .root.-fixed & {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}

.content_registered {
    color: $text-color-light;
    font-size: $font-size-small;
    margin: (-$grid / 2) 0 ($grid / 2);
    text-align: right;
}
