.content {
    @include column(medium);
    margin: $grid 0;
    position: relative;
    z-index: 0;

    @include respond-to(medium) {
        margin: ($grid / 2) 0;
    }

    > :last-child:not(:only-child) {
        margin-bottom: 0;
    }

    .site.-fixed & {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
}
