.coverflow {
    margin: 0 .25em;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    vertical-align: bottom;
    white-space: nowrap;
    width: 100%;
}

.coverflow_item {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    width: round($grid * 2.25);

    &::before {
        content: none;
    }
}

.coverflow_link {
    background: $link-hover-bg-color;
    box-shadow: none;
    display: block;

    @include hover {
        img {
            opacity: .5;
        }
    }

	&.-current {
        background: $black;
        opacity: 1;

		img {
			opacity: .5;
		}
	}

    img {
        @include transition(opacity);
        min-width: 100%;
        height: auto;
        vertical-align: top;
    }
}

.coverflow_page-number {
    background: linear-gradient(to top right, rgba($white, 0), rgba($white, 0), rgba($white, .5));
    color: $link-color;
    display: block;
    font-size: $font-size-small;
    font-weight: bold;
    line-height: 1;
    min-width: ($grid);
    padding: round($grid / 6) round($grid / 4) ($grid * 2) ($grid * 2);
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 0 $light;
    top: 0;

	.coverflow_link.-current & {
        background: linear-gradient(to top right, rgba($black, 0), rgba($black, 0), rgba($black, .5));
        color: $white;
        text-shadow: 0 -1px 0 $shadow-dark;
	}
}
