.export {
    padding: ($grid / 2);
}

.export_cancel {
    @include button;
}

.export_error {
    background: tint($red, 90);
    border: $border-width solid $red;
    border-radius: $br;
    color: $red;
    display: none;
    margin-bottom: $grid;
    padding: round($grid / 4);
}

.export_complete-doc {
    margin-bottom: $grid;
}

.export_generate-pdf {
    @include button;

    &:disabled {
        cursor: not-allowed;
        opacity: .25;
    }
}

.export_input {
    @include input;
    @include transition(width);
    width: (4.5 * $grid);

    &.-error {
        background: tint($red, 90);
        border-color: $red;
    }

    &.-indent {
        margin-left: $grid;
    }

    &.-narrow {
        width: (3 * $grid);
        margin-left: 0;
    }
}

.export_progress {
    background: $border-color;
    padding: 0 .2em;
    text-align: right;
}

.export_progress-wrap {
    border: $border-width solid $border-color;
    border-radius: $br;
    margin: ($grid / 2) 0;
}

.export_step {
    margin-bottom: $grid;
}

.export_reset {
    @include button;
    @include icon('arrow-left');
}
