.facet {
    margin: 0 0 $grid;
}

.facet_count {
    color: $text-color-lightest;
    font-size: $font-size-small;
    font-weight: bold;
    line-height: 1;
}

.facet_list-toggle {
    @include button(link);
    margin: 0 -.25em round($grid / 4);
    padding: 0 .25em;

    &.-expand {
        @include icon(plus, true);
    }

    &.-collapse {
        display: none;
        @include icon(minus, true);
    }
}

.facet_item {
    &:nth-child(n+6) {
        display: none;
    }

    &:nth-child(6):last-child {
        display: list-item;
    }
}

.facet_link {
    @include button(link);
    display: block;
    margin: 0 -.2em;
    padding: 0 .2em 0 1.2em;
    position: relative;
    text-align: left;
    text-indent: -1em;

    &.-remove {
        @include button(light);
        @include icon(close);
        display: block;
        margin-bottom: $border-width;
        min-height: 0;
        padding: 0 .2em 0 1.7em;
        text-indent: 0;
        text-shadow: $light-inset;
        text-align: left;

        // icon
        &::before {
            @include separator(0, 1, 0, 0);
            @include transition(opacity);
            border-radius: $br 0 0 $br;
            left: 0;
            height: 100%;
            text-shadow: $shadow-inset;
            padding: .3em;
            position: absolute;
        }
    }
}

.facet_list {
    list-style: none;
    margin: 0;
}
