.facets {
    margin-left: $grid;
    width: 200px;

    @include respond-to(large) {
        float: none;
        margin: 0;
        width: auto;
    }
}

.facets_above {
    margin-bottom: $grid;
}

.facets_body {
    @include respond-to(large) {
        border-bottom: $border-width solid $border-color;
        display: none;
        margin: 0 0 $grid;
    }

    &.-visible {
        display: block;
    }
}

.facets_header {
    display: none;
    padding: 0 0 ($grid / 2);
    text-align: center;

    @include respond-to(large) {
        display: block;
    }

    &::after {
        background: $link-color;
        content: '';
        display: block;
        height: $border-width;
        left: 0;
        margin-top: (-$grid / 2);
        position: absolute;
        right: 0;
    }
}

.facets_remove {
    @include button(light);
    margin-bottom: $grid;
    width: 100%;
}

.facets_toggle {
    background: $grey-light;
    border-radius: $br;
    padding: 0 .5em;
    position: relative;
    z-index: 1;

    @include hover {
        background: $link-color;
        color: $white;
    }
}
