.facets {
    margin-left: $grid;
    width: 200px;

    @include respond-to(medium) {
        float: none;
        margin: 0;
        width: auto;
    }
}

.facets_body {
    @include respond-to(medium) {
        border-bottom: $border-width solid $border-color;
        display: none;
        margin: 0 0 $grid;
    }

    &.-visible {
        display: block;
    }
}

.facets_header {
    display: none;
    padding: 0 0 ($grid / 2);
    text-align: center;

    @include respond-to(medium) {
        display: block;
    }

    &::after {
        background: $link-color;
        content: '';
        display: block;
        height: $border-width;
        left: ($grid / 2);
        margin-top: (-$grid / 2);
        position: absolute;
        right: ($grid / 2);
    }
}

.facets_remove {
    @include button(light);
    margin-bottom: $grid;
}

.facets_toggle {
    background: $grey-light;
    padding: 0 .5em;
    position: relative;
    z-index: 1;
}
