.find_aside {
    float: right;
    margin: round($grid / 8) 0 0 1em;

    @include respond-to(large) {
        float: none;
        margin: 0 0 ($grid / 2);
    }
}

.find_sort-order {
    @include transition(background);
    background-color: $shine-light;
    border: 0;
    color: $link-color;
    padding-left: .25em;

    @include hover {
        background-color: $white;
        transition: none;
    }
}
