$current: #000;
$inactive: #bbb;
$text-inverted: #fff;
$background-active: #eef;
$tab-selected: #263476;

.tx_find {
    .clear {
        clear: both;
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .hidden {
        display: none;
    }

    article.detail {
        clear: both;
    }

    em.highlight {
        font-weight: bold;
        color: $red;
    }

    /* error message */

    section.error {
        margin-bottom: 1em;
        padding: 1em;
        border: 2px solid $red;
    }

    /* search form */

    form {
        position: relative;
        line-height: 150%;

        .formFields {
            float: left;
        }

        .fieldContainer {
            float: left;
            clear: left;

            input.noleftmargin {
                margin-left: 0;
            }
        }

        .field-default {
            .fieldLabel {
                display: none;
            }
        }

        .fieldType-Text {
            .alternate label {
                display: inline-block;
                float: none;
                width: auto;
                text-align: left;
            }
        }

        .fieldType-Range {
            input {
                width: 6em;
            }
        }

        .controls {
            float: left;
            bottom: 0;
        }

        .fieldType-search input::placeholder {
            color: $text-color;
        }

        a.extendedSearch {
            line-height: 30px;
            margin-left: .5em;
        }

        .field-mode-extended {
            display: none;
        }

        .sortOrder,
        .resultCountPicker {
            float: right;
            margin: 5px 0 0 .5em;

            label {
                width: auto;
            }

            select {
                position: relative;
                top: 2px;
                margin-left: 3px;
            }
        }
    }

    form.search-extended .field-mode-extended {
        display: block;
    }

    /* result list */

    .results {
        clear: left;
        position: relative;

        .navigation {
            clear: both;
            margin-bottom: $grid;
        }
    }

    /* facets */

    article.facet {
        h1 {
            @include typo-scale(1);
            margin-bottom: ($grid / 2);
        }

        ol {
            list-style-type: none;
            margin: 0;
        }

        a {
            box-shadow: none;
            display: inline-block;
            margin: -1px 0;
            padding-left: 1em;
            text-indent: -1em;
        }

        .facetActive {
            display: block;
            background: $highlight-color;
            border-radius: $br;
            margin: ($grid / 4) 0;
        }

        .facetCount {
            color: $grey;
            font-size: $font-size-small;
        }

        .facetSearch {
            margin: 1em 0 0;
        }

        .facetRemove {
            padding-left: 1.5em;
            text-indent: -1em; // icon width
        }

        .facetHistogram-container .facetActive {
            margin-bottom: .5em;
        }

        .histogram {
            position: relative;
            left: -13px;
        }

        .flot-x-axis .flot-tick-label:first-child {
            left: 13px !important;
        }
    }

    .facet-type-Map {
        .mapContainer {
            height: 150px;
        }
    }

    .facet-type-Tabs {
        @extend article.facet;

        h1 {
            display: none;
        }

        ol {
            border-bottom: 1px solid $inactive;

            li {
                display: inline-block;
                margin: 0;
                border-radius: 10px 10px 0 0;
                border: 0 none;

                a {
                    padding: 1em .5em 0;
                    display: inline-block;
                }

                &.facetActive {
                    @extend li;
                    background: $tab-selected;
                    color: $text-inverted;

                    .facetCount {
                        color: $grey-light;
                    }
                }
            }

        }
    }

    /* page browser list view */

    .listPager {
        margin-right: 220px;
        text-align: center;

        * {
            margin: 0;
            padding: 0;
        }

        ol {
            display: inline;
            list-style-type: none;

            li {
                display: inline;

                a {
                    padding: .4em;
                }
            }
        }

        .current {
            font-weight: bold;
            color: $current;
        }

        .resultCount {
            margin-bottom: $grid;
        }
    }

    /* page browser single item view */

    .queryAndPager {
        margin: 1em 0 2em;

        .query {
            display: none;
        }

        .resultPager {
            display: block;
            float: right;

            .pager {
                color: $inactive;

                .icon-right-dir:before,
                .icon-left-dir:before {
                    position: relative;
                    top: 1px;
                    width: auto;
                    padding: 0 4px;
                    font-size: 133%;
                }

                [class^="icon-"]:hover,
                [class*=" icon-"]:hover {
                    text-decoration: none;
                }
            }
        }
    }

    /* field list on single item view */

    .detail h1 {
        margin-bottom: 1em;
    }

    dl {
        margin: 0;
    }

    dt {
        font-weight: bold;
    }

    dd {
        ul {
            margin: 0;
        }
    }
}

#tx_find-histogram-tooltip {
    display: none;
    position: absolute;
    background: $text-inverted;
}
