.header {
    background: $white; // Prevent off-canvas nav from popping through
    flex: none; // Prevent content from being cut off on Android and IE
    overflow: visible;
    position: relative;
    z-index: 1;

    a {
        box-shadow: none;

        @include hover {
            background: none;
        }
    }

    ul {
        > li:before {
            content: none;
        }
    }
}

@mixin header_logo-small {
    background-position: 0;
    background-size: auto $grid;
    margin: 0;
}

.header_logo {
    background: url($img-path + '/sub-logo.svg') 0 center no-repeat;
    background-size: contain;
    display: inline-block;
    height: ($grid * 2);
    max-width: 100%;

    @include respond-to(large) {
        height: ($grid * 1.5);
        margin: ($grid / 4) 0;
    }

    @include respond-to(small) {
        @include header_logo-small;
    }

    .root.-fixed & {
        @include header_logo-small;
        height: ($grid * 1.5);
    }

    a {
        display: inline-block;
        height: 100%;
        min-height: (1.5 * $grid);

        .root.-fixed & {
            left: ($grid / 4);
            height: ($grid * 1.5);
            top: ($grid / 2);
        }
    }
}

.header_nav {
    font-weight: bold;
    float: right;
    margin: 0 (-$grid / 4) 0 0;

    a,
    button {
        border-radius: 0;
        color: $white;
        display: block;
        padding: ($grid / 4);

        @include hover {
            background: $link-hover-bg-color;
        }
    }

    li {
        float: left;

        + li {
            @include separator(0, 0, 0, 1);
        }
    }
}

@mixin header_title-small {
    font-size: inherit;
    line-height: $grid;
    margin-left: 65px;
    padding: ($grid / 4);
    width: 250px;
}

// 1. Position department name at the same position as brand name.
.header_title {
    @include typo-scale(2);
    background: $brand-color;
    display: block;
    color: $white;
    font-family: $font-family-display;
    margin-left: 136px; // 1
    padding: ($grid / 4);
    position: relative;

    @include respond-to(large) {
        @include typo-scale(1);
        margin-left: 104px; // 1
    }

    @include respond-to(small) {
        @include header_title-small;
    }

    @include respond-to(tiny) {
        display: none;
    }

    &.-short {
        display: none;

        @include respond-to(tiny) {
            display: block;
            width: 60px;
        }
    }

    .root.-fixed & {
        @include header_title-small;

        &.-short {
            width: 60px;
        }
    }

    a {
        color: $white;
    }
}

.header_top {
    @extend %full-width-background;
    background: $brand-color;
    padding: $grid;
    max-width: $site-width;

    @include respond-to(large) {
        margin: 0 auto;
        padding: ($grid / 2);
    }

    @include respond-to(small) {
        padding: ($grid / 4) ($grid / 2);
    }

    .root.-fixed & {
        max-width: none;
        padding: 0 ($grid / 4);

        &::before,
        &::after {
            content: none;
        }
    }
}
