.metadata {
    overflow-y: auto;
    padding: ($grid / 2);

    dt {
        float: none;
        width: auto;
    }

    dd {
        margin-bottom: 1em;
        width: auto;
    }
}

.metadata_links {
    border-top: $border-width solid $border-color;
    clear: left;
    margin: ($grid / 2) (-$grid / 2) (-$grid);
    padding: ($grid / 2);

    li {
        &::before {
            content: none;
        }
    }
}
