.pagination {
    @extend %clearfix;
    background: $white;
    margin: 0;

    &.-fixed {
        border-radius: 0 0 $br $br;
        box-shadow: $drop-shadow;
        margin-left: -.25em;
        padding: .25em 0 0 .25em;
        position: fixed;
        top: 0;
        z-index: 1;

        @include respond-to(large) {
            left: .25em;
        }
    }
}

.pagination_item {
    display: inline-block;
    float: left;
    min-width: $grid;
    text-align: center;

    &::before {
        content: none;
    }
}

.pagination_link {
    @include button(light);
    border-radius: 0;

    .pagination_item:first-child > & {
        border-radius: $br 0 0 $br;
    }

    .pagination_item:last-child > & {
        border-radius: 0 $br $br 0;
    }

    .pagination_item:nth-child(n+2) > & {
        @include separator(0, 0, 0, 1);
    }

    &.-current {
        background: $text-color-light;
        color: $white;
        font-weight: bold;
        text-shadow: 0 -1px rgba(#000, .5);
    }

    &.-last {
        @include icon(fast-forward, false);
    }

    &.-first {
        @include icon(fast-backward, false);
    }

    &.-next {
        @include icon(step-forward, false);
    }

    &.-previous {
        @include icon(step-backward, false);
    }

    &.-disabled {
        cursor: not-allowed;
        opacity: .5;
    }
}

.pagination_list {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
