.pagination {
    margin: 0 0 (-$grid / 2);
}

.pagination_item {
    display: inline-block;
    float: left;
    margin-bottom: ($grid / 2);
    min-width: $grid;
    text-align: center;

    &::before {
        content: none;
    }
}

.pagination_link {
    @include button(link);
    margin-right: $border-width * 2;

    &.-current {
        background: $text-color-light;
        color: $white;
        font-weight: bold;
        text-shadow: $shadow-inset;
    }

    &.-last {
        @include icon(fast-forward, false);
    }

    &.-first {
        @include icon(fast-backward, false);
    }

    &.-next {
        @include icon(step-forward, false);
    }

    &.-previous {
        @include icon(step-backward, false);
    }

    &.-disabled {
        cursor: not-allowed;
        opacity: .5;

        @include hover {
            background: none;
            color: inherit;
        }
    }
}

.pagination_list {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
