.result {
    display: flex;
    flex-direction: row-reverse;

    @include respond-to(large) {
        flex-direction: column;
    }
}

.result_import-date {
	color: $text-color-light;
	font-size: $font-size-small;
    line-height: 1;
}

.result_info {
    border-bottom: $border-width solid $border-color;
    margin: 0 0 ($grid / 4);
    padding: 0 0 ($grid / 4 - $border-width);

    dt {
        font-weight: normal;
        width: 9em;

        @include respond-to(medium) {
            font-weight: bold;
            width: 100%;
        }
    }

    dd {
        margin: 0;
        width: auto;

        @include respond-to(medium) {
            &:not(:last-child) {
                margin: 0 0 ($grid / 4);
            }
        }
    }
}

.result_item {
    background: $white;
    border-radius: $br;
    box-shadow: $card-shadow;
    padding: ($grid / 2);

    & + & {
        margin-top: ($grid / 2);
    }
}

.result_left {
    display: table-cell;
    padding: 0 ($grid / 2) 0 0;
    width: ($thumbnail-width + $grid / 2);

    @include respond-to(tiny) {
         width: ($thumbnail-width / 2 + $grid / 2);
    }
}

.result_link {
    > img {
        @include transition(opacity);

        @include hover {
            opacity: .7;
        }
    }
}

.result_links {
    border-top: $border-width solid $border-color;
    clear: left;
    margin: ($grid / 2) (-$grid / 2) (-$grid / 2);
    padding: ($grid / 4) ($grid / 2);

    li {
        display: inline-block;

        &::before {
            content: none;
        }

        & + li {
            margin-left: .5em;
        }
    }
}

.result_list {
    list-style: none;
    flex: 1;
    margin: 0;

    h1 {
        font: inherit;
        font-weight: bold;
        margin: 0;
    }
}

.result_metadata {
    display: table-cell;
    vertical-align: top;

    p {
        margin: 0;
    }
}

.result_title {
    display: block;
    font: inherit;
    font-weight: bold;
    margin: 0 0 ($grid / 4);
    position: relative;

    &.-cut {
        height: $grid;
        overflow: hidden;
    }

    &.-full {
        height: auto !important;
        overflow: visible;
    }

    > a {
        @include link;
    }
}

.result_title-toggle {
    @include button(link);
    background: $white;
    display: none;
    float: right;
    font-weight: normal;
    min-height: 0;
    padding: 0 ($grid / 4);

    @include hover {
        background: $brand-color-lighter;
    }

    &.-expand {
        position: absolute;
        bottom: 0;
        right: 0;

        &::after {
            background: linear-gradient(to right, rgba($white, 0), rgba($white, 1));
            content: '';
            display: block;
            height: $grid;
            margin-left: (-$grid * 3.25); // width + button padding
            pointer-events: none;
            position: absolute;
            top: 0;
            width: ($grid * 3);
        }
    }
}

.result_thumbnail {
    display: block;
    box-shadow: 0 0 1px $shade;
    margin: auto;
    max-height: ($grid * 8);
}

.result_wrap {
    display: table;
    width: 100%;
}
