.result_item {
    & + & {
        margin-top: $grid;
    }
}

.result_list {
    margin: 0 220px 0 0; // TODO
    padding-left: 3em;

    @include respond-to(medium) {
        margin: 0;
    }

    h1 {
        font: inherit;
        font-weight: bold;
        margin: 0;
    }
}

.result_metadata {
    display: table-cell;
    vertical-align: top;
}

.result_paragraph {
    margin: 0;
}

.result_title {
    display: block;
    font: inherit;
    font-weight: bold;
    margin: 0 0 ($grid / 2);
    position: relative;

    > a {
        @include link;
    }

    &.-cut {
        height: $grid;
        overflow: hidden;
    }

    &.-full {
        height: auto !important;
        overflow: visible;
    }
}

.result_title-toggle {
    @include button(link);
    display: none;
    float: right;
    font-weight: normal;
    min-height: 0;
    padding: 0 ($grid / 4);

    &.-expand {
        @include icon(chevron-down, false);
        position: absolute;
        bottom: 0;
        right: 0;

        &::after {
            background: linear-gradient(to right, rgba($white, 0), rgba($white, 1));
            content: '';
            display: block;
            height: $grid;
            margin-left: (-$grid * 3.25); // width + button padding
            pointer-events: none;
            position: absolute;
            top: 0;
            width: ($grid * 3);
        }
    }

    &.-collapse {
        @include icon(chevron-up, false);
    }
}

.result_thumbnail {
    display: table-cell;
    padding: 0 ($grid / 2);
    width: ($grid * 4);

    > img {
        box-shadow: $drop-shadow;
        display: block;
    }
}

.result_wrap {
    display: inline-block; // block or table would mess up list numbers
    vertical-align: top;
}
