.scan {
    background: $text-color;
    flex: 1;
}

.scan_error {
    align-items: center;
    color: $highlight-color;
    font-weight: bold;
    display: flex;
    height: 100%;
    justify-content: center;
}

.scan_image {
    height: 100%;
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

.scan_spinner {
    @extend %spinner;
    bottom: ($grid / 2);
    position: absolute;
    right: ($grid / 2);
    z-index: 9;
}
