@mixin search-small {
    @include transition(opacity, visibility, z-index);
    margin: 0;
    right: ($grid / 2);
    opacity: 0;
    top: ($grid / 2);
    visibility: hidden;
    z-index: -1;

    &.-show-popup {
        opacity: 1;
        visibility: visible;
        z-index: 9;
    }
}

.search {
    @extend %clearfix;
    @include transition(top, right);
    max-width: 100%;
    position: absolute;
    right: ($grid / 2);
    top: ($grid / 2);
    z-index: 99;

    @include respond-to(large) {
        top: 0;
        right: 0;

        &.-show-popup {
            top: ($grid / 2);
            right: ($grid / 2);
        }
    }

    @include respond-to(small) {
        @include search-small;
        width: auto;
    }

    @include respond-to(tiny) {
        left: ($grid / 2);
    }

    .root.-fixed & {
        @include search-small;
    }
}

.search_close {
    @include transition(background);
    background: none;
    bottom: ($grid / 4);
    border: 0;
    border-radius: $br;
    height: $grid;
    line-height: 1;
    padding: 0;
    position: absolute;
    right: ($grid / 4);
    width: $grid;

    @include hover {
        background: $link-hover-bg-color;
    }
}

.search_content {
    @include transition(opacity, visibility, z-index);
    background: $white;
    border-radius: $br;
    box-shadow: $drop-shadow;
    display: none;
    left: (-$grid / 2);
    padding: ($grid * 3) $grid $grid;
    position: absolute;
    top: 0;
    width: 100%;

    &.-visible {
        display: block;
    }

    a {
        @include link;
    }

    p {
        margin: 0;
    }

    ul + p {
        margin-top: ($grid / 2);
    }
}

.search_description {
    font-weight: bold;
}

.search_form {
    display: none;
    padding: ($grid / 2) ($grid / 2) 0;
    position: relative;
    z-index: 1;

    &.-visible {
        display: block;
    }
}

.search_highlight {
    background: $shade-light;
}

.search_input {
    @include input;
    @include transition(width);
    border: $border-width solid $input-border-color;
    box-shadow: .1em .1em .5em rgba($black, .2) inset;
    float: right;
    height: ($grid * 2);
    padding-right: (1.75 * $grid);
    position: relative;
    width: 16em;
    z-index: 9;

    @include respond-to(medium) {
        width: 12em;
    }

    &:focus {
        border: $border-width solid $input-border-color-focus;
        outline: 0;
    }

    &::placeholder {
        color: $text-color-light;
        opacity: 1; // Firefox fix
    }

    .-show-popup & {
        width: 100%;
    }
}

.search_item {
    clear: both;
}

.search_label {
    &.-bold {
        font-weight: bold;
    }
}

.search_list {
    margin: 0;
}

.search_popup {
    @include transition(opacity);
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 2; // Prevent shadow overlap during transition

    .-show-popup & {
        opacity: 1;
        visibility: visible;
    }
}

.search_separator {
    background: $shade;
    border: 0;
    height: $border-width;
    margin: ($grid / 2) 0 ($grid / 2 - $border-width);
}

.search_submit {
    @include transition(background);
    background: none;
    border: 0;
    border-radius: $br;
    height: 1.5 * $grid;
    padding: 0;
    position: absolute;
    right: (.75 * $grid);
    top: (.75 * $grid);
    width: 1.5 * $grid;
    z-index: 9;

    @include hover {
        background: $link-hover-bg-color;
    }

    .icon {
        font-size: 2em;
    }
}
