
.site {
    background: $grey-light;
    display: flex;
    flex-direction: column;
    height: 100%; // Using % instead of vh to accomodate Mobile Safari < 10
    margin: 0 auto;
    max-width: $site-width;

    @include respond-to(large) {
        box-shadow: 0 0 $grid rgba($black, .5);
        margin: 0;
        min-width: 100%;
        overflow-x: hidden;
    }

    .root.-fixed & {
        height: 100%; // IE fix
        max-width: none;
    }
}
