.thumbnails {
    background: $grey-light;
    overflow-y: auto;
    position: relative;
    top: 0;
}

.thumbnails_list {
    margin: round($grid / 4) 0 round($grid / 4) round($grid / 4);
}

.thumbnails_item {
    box-shadow: $drop-shadow;
    display: inline-block;
    margin: round($grid / 8);
    box-shadow: $drop-shadow;
    position: relative;


    &::before {
        content: none;
    }
}

.thumbnails_link {
    background: $grey;
    box-shadow: none;
    display: block;
    height: ($grid * 4.5);
    overflow: hidden;
    width: round($grid * 3.55);

    @include hover {
        img {
            opacity: .7;
        }
    }

    img {
        @include transition(opacity);
        display: block;
        width: 100%;
    }

	.thumbnails_item.-current & {
        background: $white;

		img {
			opacity: .4;
		}
	}
}

.thumbnails_page-number {
    background: $shade-dark;
    bottom: 0;
    color: $white;
    display: block;
    font-size: $font-size-small;
    font-weight: bold;
    width: 100%;
    position: absolute;
    text-align: center;
    text-shadow: $shade-inset;

	.thumbnails_item.-current & {
        background: $shine-light;
        color: $text-color;
        text-shadow: $shine-inset;
	}
}
