.thumbnails {
    background: $grey-light;
    min-width: 20em;
    overflow-y: auto;
}

.thumbnails_list {
    margin: round($grid / 4);
}

.thumbnails_item {
    box-shadow: $drop-shadow;
    display: inline-block;
    margin: round($grid / 12);
    box-shadow: $drop-shadow;
    position: relative;
    width: round($grid * 3.45);

    &::before {
        content: none;
    }
}

.thumbnails_link {
    background: $link-hover-bg-color;
    box-shadow: none;
    display: block;

    @include hover {
        img {
            opacity: .5;
        }
    }

	&.-current {
        background: $black;
        opacity: 1;

		img {
			opacity: .5;
		}
	}

    img {
        @include transition(opacity);
        display: block;
        min-width: 100%;
        vertical-align: top;
    }
}

.thumbnails_page-number {
    background: $light-light;
    bottom: 0;
    color: $link-color;
    display: block;
    font-size: $font-size-small;
    font-weight: bold;
    line-height: 1;
    width: 100%;
    padding: round($grid / 6);
    position: absolute;
    text-align: right;
    text-shadow: 0 1px 0 $light;
    white-space: nowrap;

	.thumbnails_link.-current & {
        background: $shadow-dark;
        color: $white;
        text-shadow: 0 -1px 0 $shadow-dark;
	}
}
