%toc_row-item {
    @include transition(background);
    background: $white;
    position: relative;
    z-index: 1;
}

.toc {
    overflow-y: auto;
    padding: ($grid / 2);
    position: relative;
    z-index: 0;

    a {
        @include hover {
            background: $brand-color-lighter;
        }
    }
}

.toc_aside {
    display: table-cell;
    vertical-align: bottom;
}

.toc_chapter {
    @extend %toc_row-item;
    padding-right: .25em;
}

.toc_item {
    display: block;

    & & {
        border-left: 1px solid $brand-color-light;
        margin-left: (-$grid / 2);
        padding-left: ($grid / 2);
        position: relative;
    }

    &::before {
        background: none;
        border-radius: 0;
        border-top: 1px solid $brand-color-light;
        height: 100%;
        margin-left: (-$grid / 2 - 1px);
    }

    &:last-child::before {
        border-left: 1px solid $white;
    }

    .toc_content > .toc_list > &::before {
        content: none !important;
    }
}

.toc_link {
    box-shadow: none;
    border-radius: $br;
    display: table-cell;
    overflow: hidden;
    padding: 0 .25em;
    position: relative;
    width: 99%;

    @include hover {
        > * {
            background: $brand-color-lighter;
        }
    }

    // Dotted line below
    &::after {
        bottom: 6px;
        content: '';
        left: .25em;
        min-width: 4em;
        border-bottom: 1px dotted;
        position: absolute;
        right: .25em;;
    }
}

.toc_list {
    margin: 0;

    & & {
        margin-left: $grid;
    }
}

.toc_page-number {
    @extend %toc_row-item;
    float: right;
    padding-left: .25em;
    z-index: 1;
}

.toc_row {
    display: table;
    margin-left: -.25em;
    position: relative;
    width: 100%;
}

.toc_spinner {
    @extend %spinner;
}
