.toc {
    min-width: 22em;
    overflow-y: auto;
    padding: ($grid / 2);
    position: relative;
    z-index: 0;
}

.toc_column {
    display: table-cell;
    vertical-align: top;
    width: 100%;

    &.-right {
        background: $white;
        padding-left: .25em;
        position: relative;
        text-align: right;
        vertical-align: bottom;
        white-space: nowrap;
        width: 0;
        z-index: 9;
    }
}

.toc_item {
    & & {
        border-left: 1px solid $brand-color-light;
        margin-left: (-$grid / 2);
        padding-left: ($grid / 2);
        position: relative;
    }

    &::before {
        background: none;
        border-radius: 0;
        border-top: 1px solid $brand-color-light;
        height: 100%;
        margin-left: (-$grid / 2 - 1px);
    }

    &:last-child::before {
        border-left: 1px solid $white;
    }

    .toc_content > .toc_list > &::before {
        content: none !important;
    }
}

.toc_link {
    background: $white;
    box-shadow: none;
    padding-right: .25em;
    position: relative;
    z-index: 9;
}

.toc_list {
    margin-left: 0;

    & & {
        margin-left: $grid;
    }
}

.toc_pdf {
    @include icon('file-pdf-o', false);
}

.toc_row {
    display: table;
    position: relative;
    width: 100%;

    // Dotted line below
    &::after {
        bottom: 7px;
        content: '';
        left: 0;
        min-width: 4em;
        border-bottom: 1px dotted;
        position: absolute;
        right: 0;
    }
}
