.toc {
    min-width: 20em;
    overflow-y: auto;
    padding: ($grid / 2);
}

.toc_item {
    padding-left: ($grid / 2);
    text-indent: (-$grid / 2);

    & & {
        border-left: 1px solid $brand-color-light;
        margin-left: (-$grid);
        padding-left: $grid;
        position: relative;
    }

    &::before {
        background: none;
        border-radius: 0;
        border-top: 1px solid $brand-color-light;
        height: 100%;
        margin-left: (-$grid / 2 - 1px);
    }

    &:last-child::before {
        border-left: 1px solid $white;
    }

    .toc_content > .toc_list > &::before {
        content: none !important;
    }
}

.toc_list {
    margin-left: 0;

    & & {
        margin-left: $grid;
    }
}
