// TODO: Split in separate files (one for every viewer section)

.viewer {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.viewer_column {
    flex-shrink: 1;
    min-width: 8em;

    & + & {
        flex-shrink: 0;
        padding-left: ($grid / 2);

        @include respond-to(large) {
            padding: 0;
        }
    }
}

.viewer_controls {
    display: flex;
    flex-wrap: wrap;
    margin: 0 round(-$grid / 4) round(-$grid / 4) 0;
    z-index: 1;

    &.-overlay {
        margin: round($grid / 4);
        position: absolute;

        & + & {
            top: ($grid * 1.75);
        }
    }

    &.-right {
        justify-content: flex-end;

        @include respond-to(large) {
            justify-content: space-between;
        }
    }
}

.viewer_control-group {
    border-radius: $br;
    box-shadow: $card-shadow;
    display: flex;
    margin: 0 round($grid / 4) round($grid / 4) 0;
    overflow: hidden;
    z-index: 1;

    &.-vertical {
        flex-direction: column-reverse;
    }
}

.viewer_control {
    @include button(light);
    border-radius: 0;
    box-shadow: none;

    &.-active {
        @include button;
        border-radius: 0;
    }

    &[disabled],
    &.-disabled {
        color: tint($text-color, 50);
    }

    & + &,
    label + & {
        @include separator(0, 0, 0, 1);
        z-index: 1;
    }

    .viewer_control-group.-vertical label + & {
        @include separator(0, 0, 1);
    }

    &[type=text] {
        color: $text-color !important;
        text-align: left;
    }

    &.-scan {
        @include icon(file-image-o, false);
        display: none;

        @include respond-to(large) {
            display: inline-block;
        }
    }

    &.-toc {
        @include icon(list, false);
    }

    &.-transcript {
        @include icon(file-text-o, false);
    }

    &.-thumbnails {
        @include icon(th, false);
    }

    &.-metadata {
        @include icon(info-circle, false);
    }

    &.-export {
        @include icon(external-link-square, false);
    }

    &.-first-page {
        @include icon(fast-backward, false);
    }

    &.-previous-section {
        @include icon(step-backward, false);
    }

    &.-previous-page {
        @include icon(caret-left, false);
    }

    &.-next-page {
        @include icon(caret-right, false);
    }

    &.-next-section {
        @include icon(step-forward, false);
    }

    &.-last-page {
        @include icon(fast-forward, false);
    }

    &.-zoom-out {
        @include icon(search-minus, false);
    }

    &.-zoom-out {
        @include icon(search-minus, false);
    }

    &.-zoom-in {
        @include icon(search-plus, false);
    }

    &.-zoom-reset {
        @include icon(circle-o-notch, false);
    }

    &.-search {
        @include icon(search, false);
    }

    &.-fullscreen {
        @include icon(arrows-alt, false);
    }
}

.viewer_dl {
    dt, dd {
        float: none;
        padding: 0;
        width: auto;
    }

    dd + dt {
        margin-top: ($grid / 2);
    }
}

.viewer_error {
    align-items: center;
    color: $highlight-color;
    font-weight: bold;
    display: flex;
    height: 100%;
    justify-content: center;
}

.viewer_header {
    @include separator(1, 0);
    background: $header-bg;
    display: flex;
    justify-content: space-between;
    padding: floor($grid / 4);
    width: 100%;

    @include respond-to(large) {
        display: block;
    }
}

.viewer_heading {
    @include sr-only;
}

.viewer_image {
    height: 100%;
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

.viewer_label {
    @include respond-to(small) {
        @include sr-only;
    }
}

.viewer_main {
    display: flex;
    flex: 1;
    overflow: hidden;

    @include respond-to(large) {
        display: block;
    }
}

.viewer_panel {
    @include separator(0, 0, 0, 1);
    background: $white;
    display: none;
    flex: 1;
    min-width: 20em;
    overflow-y: auto;
    position: relative;
    transition: visibility .2s, width .2s;

    @include respond-to(large) {
        border: 0;
    }

    &:first-child {
        border: 0;
    }

    &.-active {
        display: block;

        @include respond-to(large) {
            height: 100%;
        }
    }

    &.-alwaysActive {
        display: block !important;
    }

    &.-scan {
        flex: 3;
        height: 100%;
    }

    &.-thumbnails {
        background: $grey-light;
    }
}

.viewer_title {
    @extend %title;
    font-size: 20px !important; // TODO: Calc
    margin: floor($grid / 4) 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include respond-to(large) {
        margin-top: 0;
    }
}
