# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
  tei_processor:
    class: AppBundle\Service\TeiProcessor

  mets_service:
    class: AppBundle\Service\MetsService
    arguments: ['@solarium.client', '@cache.app', '@guzzle.client.mets']

  image_service:
    class: AppBundle\Service\ImageService
