.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.invisible {
    @extend .sr-only;
}

// This is toggled via JavaScript on mobile devices
.mobile-only {
    display: none;
}

// Used for digit grouping
.space {
    margin-left: .2em;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
