.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.icon {
    @extend .material-icons;
    overflow: hidden;
    vertical-align: top;
    width: 1em;
}

.invisible {
    @extend .sr-only;
}

// This is toggled via JavaScript on mobile devices
.mobile-only {
    display: none;
}

.registered-as {
    float: right;
    margin-left: 1em;
}

// Used for digit grouping
.space {
    margin-left: .2em;
}

.sr-only {
    @include sr-only;
}
