<header class="viewer_header">
    <h1 class="viewer_title">{{ document.bytitle }}</h1>
    <div class="viewer_group">
        {% if document.gdzocr_url is defined %}
            <button class="viewer_control js-toggle-panel" data-target="transcript">{% trans %}Transcript{% endtrans %}</button>
        {% endif %}
        <button class="viewer_control js-toggle-panel" data-target="toc">{% trans %}Contents{% endtrans %}</button>
        <button class="viewer_control -active js-toggle-panel" data-target="metadata">{% trans %}Metadata{% endtrans %}</button>
    </div>
    <div class="viewer_group">
        <button class="viewer_control -fullscreen js-fullscreen" title="Vollbildansicht">
            <span class="sr-only">{% trans %}Fullscreen{% endtrans %}</span>
        </button>
    </div>
</header>
