{# TODO: Show current page via page variable #}
<section class="viewer_scan">
    {% if isValidPage %}
        {% set identifier = (document.presentation_url[page - 1] | replace({'http://gdz.sub.uni-goettingen.de/tiff/': '','.tif': '', '/': ':'})) %}
        <div
            class="viewer_image"
            id="viewer_image"
            data-iiif="{{ path('_iiifjson', {'identifier': identifier}) }}"
        ></div>
    {% else %}
        <div class="viewer_error">
            {{ 'Invalid page'|trans }}
        </div>
    {% endif %}
</section>
