<section class="toc">
    <h2 class="viewer_heading">{{ 'Table of contents'|trans }}</h2>
    <div class="toc_content">
        <div class="toc_spinner">
            <span class="sr-only">{{ 'Loading'|trans }}</span>
        </div>
    </div>
</section>
