{% if document.iswork == true %}
    <section class="viewer_toc">
        <h2 class="viewer_heading">{{ 'Table of contents'|trans }}</h2>
        {{ render(controller('AppBundle:Document:toc', { 'id': document.id })) }}
    </section>
{% endif %}
