{# TODO: Get fulltext dynamically #}

{% if document['gdzocr_url'] is defined and isValidPage %}
    <section class="viewer_transcript">
        <h2 class="viewer_heading">{{ 'Transcript'|trans }}</h2>
        <div class="viewer_transcript-page">
            {% autoescape %}
                {{ render(controller('AppBundle:Document:fullText', { 'url': document['gdzocr_url'][documentStructure.page - 1] })) | nl2br }}
            {% endautoescape %}
        </div>
    </section>
{% endif %}
