{% set page = app.request.get('page') ?: 1 %}

{% if document['fulltext_url'] is defined %}
    <section class="transcript">
        <h2 class="viewer_heading">{{ 'Fulltext'|trans }}</h2>
        <div class="transcript_page">
            {% autoescape %}
                {{ render(controller('AppBundle:Document:fullText', { 'id': document['presentation_url'][page - 1] })) }}
            {% endautoescape %}
        </div>
    </section>
{% endif %}
