<div class="colophon">
    <div class="colophon_top-link">
        <a title="Zurück zum Seitenanfang" href="#top">
            <i class="icon">keyboard_arrow_up</i>
            <span class="sr-only">Zurück zum Seitenanfang</span>
        </a>
    </div>
</div>
