<div class="colophon">
    <div class="colophon_links">
        <div class="colophon_column">
            <h6><a href="http://www.zvdd.de" title="ZVDD - Zentrales Verzeichnis digitalisierter Drucke"
                   target="_blank" class="external-link-new-window">ZVDD - Zentrales Verzeichnis digitalisierter
                    Drucke</a></h6>
            <p class="colophon-copy">Ist Ihr gesuchtes Werk noch nicht in unserem digitalen Bestand? Dann probieren Sie es doch in unserem ZVDD Portal, das mehr als 1.400.000 bundesweit digitalisierte Werke nachweist.</p>
        </div>
        <div class="colophon_column">
            <h6><a href="http://www.digiwunschbuch.de/" title="DigiWunschbuch" target="_blank"
                   class="external-link-new-window">DigiWunschbuch</a></h6>
            <p class="colophon-copy">Die Niedersächsische Staats- und Universitätsbibliothek Göttingen (SUB) bietet mit dem Service „DigiWunschbuch” die Möglichkeit, Patenschaften für die Digitalisierung von Büchern zu übernehmen.
            Übernehmen Sie die Patenschaft für die Digitalisierung Ihres Wunschbuches.</p>

        </div>
        <div class="colophon_column">
            <h6><a href="http://www.digizeitschriften.de/" title="DigiZeitschriften" target="_blank"
                   class="external-link-new-window">DigiZeitschriften</a></h6>
            <p class="colophon-copy">DigiZeitschriften ist ein Service für das wissenschaftliche Arbeiten. Über einen kontrollierten Nutzerzugang können Studierende und Wissenschaftler auf Kernzeitschriften der deutschen Forschung zugreifen. Der Zugang erfolgt über Bibliotheken und wissenschaftliche Einrichtungen, die DigiZeitschriften subskribiert haben. Derzeit umfasst das Angebot über 135 Zeitschriften aus 18 Fachgebieten!</p>
        </div>
        <div class="colophon_column">
            <h6><a href="http://www.gutenbergdigital.de/" title="Gutenberg Digital" target="_blank"
                   class="external-link-new-window">Gutenberg Digital</a></h6>
            <p class="colophon-copy">Besuchen Sie das Faksimile der Göttinger Gutenberg Bibel.</p>
        </div>
        <div class="colophon_column">
            <h6>{{ 'Just scanned'|trans }}</h6>
            {{ render(controller('AppBundle:Document:justScanned')) }}
        </div>
    </div>
    <div class="colophon_top-link">
        <a title="Zurück zum Seitenanfang" href="#top">
            <span class="sr-only">Zurück zum Seitenanfang</span>
        </a>
    </div>
</div>
