<div class="colophon">
       <div class="colophon_links">
           <div class="colophon_column">
               <h6>Ressourcen</h6>
               <ul>
                   <li>
                       <a href="http://www.zvdd.de" title="ZVDD - Zentrales Verzeichnis digitalisierter Drucke"
                          target="_blank" class="external-link-new-window">ZVDD - Zentrales Verzeichnis digitalisierter
                           Drucke</a>
                   </li>
                   <li>
                       <a href="http://www.digiwunschbuch.de/" title="DigiWunschbuch" target="_blank"
                          class="external-link-new-window">DigiWunschbuch</a>
                   </li>
                   <li>
                       <a href="http://www.digizeitschriften.de/" title="DigiZeitschriften" target="_blank"
                          class="external-link-new-window">DigiZeitschriften</a>
                   </li>
                   <li>
                       <a href="http://www.gutenbergdigital.de/" title="Gutenberg Digital" target="_blank"
                          class="external-link-new-window">Gutenberg Digital</a>
                   </li>
               </ul>
           </div>
           <div class="colophon_column">
               <h6>SUB Göttingen</h6>
               <ul>
                   <li>
                       <a href="https://www.sub.uni-goettingen.de/standorte-raumangebote/standorte-mit-oeffnungszeiten/"
                          title="Öffnungszeiten">Öffnungszeiten</a>
                   </li>
                   <li>
                       <a href="https://www.sub.uni-goettingen.de/lernen-lehren/schulungsangebote/"
                          title="Schulungsangebote">Schulungsangebote</a>
                   </li>
                   <li class="colophon_item -indent">
                       <a href="https://www.facebook.com/SUB.INFO" title="SUB bei Facebook" target="_blank"
                          class="external-link-new-window">
                           <i class="fa fa-facebook-square"></i> SUB bei Facebook
                       </a>
                   </li>
                   <li class="colophon_item -indent">
                       <a href="https://twitter.com/subugoe" title="SUB bei Twitter" target="_blank"
                          class="external-link-new-window">
                           <i class="fa fa-twitter"></i> SUB bei Twitter
                       </a>
                   </li>
                   <li class="colophon_item -indent">
                       <a href="https://www.sub.uni-goettingen.de/kontakt/ihre-meinung/" title="Ihre Meinung"
                          class="external-link-new-window">
                           <i class="fa fa-pencil"></i> Ihre Meinung
                       </a>
                   </li>
               </ul>
           </div>
           <div class="colophon_column">
               <h6>Universität Göttingen</h6>
               <ul>
                   <li>
                       <a href="http://www.uni-goettingen.de/" title="Universität Göttingen" target="_blank"
                          class="external-link-new-window">Universität Göttingen</a>
                   </li>
                   <li>
                       <a href="http://univz.uni-goettingen.de/qisserver/rds?state=user&amp;type=0" title="UniVZ"
                          target="_blank" class="external-link-new-window">UniVZ</a>
                   </li>
                   <li>
                       <a href="//ecampus.uni-goettingen.de" title="eCampus mit Stud.IP"
                          class="external-link-new-window">eCampus mit Stud.IP</a>
                   </li>
                   <li>
                       <a href="http://wiki.student.uni-goettingen.de" title="studIT Online Support" target="_blank"
                          class="external-link-new-window">studIT Online Support</a>
                   </li>
                   <li>
                       <a href="https://www.sub.uni-goettingen.de/standorte-raumangebote/standorte-mit-oeffnungszeiten/bibliotheken-in-goettingen/"
                          title="Gesamtübersicht Göttinger Bibliotheken ">Gesamtübersicht Göttinger Bibliotheken </a>
                   </li>
                   <li>
                       <a href="http://www.studentenwerk-goettingen.de/speiseplan.html" title="Mensa-Speisepläne"
                          target="_blank" class="external-link-new-window">Mensa-Speisepläne</a>
                   </li>
                   <li>
                       <a href="http://www.gwdg.de/" title="GWDG" target="_blank"
                          class="external-link-new-window">GWDG</a>
                   </li>
               </ul>
           </div>
           <div class="colophon_column">
               <h6>Stadt Göttingen</h6>
               <ul>
                   <li>
                       <a href="http://www.goettingen.de/" title="Informationen zur Stadt Göttingen" target="_blank"
                          class="external-link-new-window">Informationen zur Stadt Göttingen</a>
                   </li>
                   <li>
                       <a href="http://goo.gl/maps/KQKUV" title="Stadtplan" target="_blank"
                          class="external-link-new-window">Stadtplan</a>
                   </li>
                   <li>
                       <a href="http://www.goevb.de/" title="Verkehrsverbindungen" target="_blank"
                          class="external-link-new-window">Verkehrsverbindungen</a>
                   </li>
                   <li>
                       <a href="http://www.studieren-in-goettingen.de/" title="studieren-in-goettingen.de"
                          target="_blank" class="external-link-new-window">studieren-in-goettingen.de</a>
                   </li>
               </ul>
           </div>
       </div>
       <div class="colophon_top-link">
           <a title="Zurück zum Seitenanfang" href="#top">
               <span class="sr-only">Zurück zum Seitenanfang</span>
           </a>
       </div>
   </div>
