<div class="colophon">
    <div class="colophon_top-link">
        <a title="Zurück zum Seitenanfang" href="#top">
            <span class="sr-only">Zurück zum Seitenanfang</span>
        </a>
    </div>
</div>
