<div class="footer">
    <div class="footer_left">
        <ul>
            <li>
                <a href="{{ path('_content', {'action': 'contact'}) }}" title="{% trans %}Contact{% endtrans %}">{% trans %}Contact{% endtrans %}</a>
            </li>
            <li>
                <a href="{{ path('_content', {'action': 'imprint'}) }}" title="{% trans %}Imprint{% endtrans %}">{% trans %}Imprint{% endtrans %}</a>
            </li>
            <li>
                <a href="{{ path('_content', {'action': 'help'}) }}" title="{% trans %}Help for search{% endtrans %}">{% trans %}Help for search{% endtrans %}</a>
            </li>
        </ul>
    </div>
    <div class="footer_right">
    </div>
</div>
