<div class="footer">
    <div class="footer_left">
        <ul>
            <li>
                <a href="{{ path('_content', {'action': 'contact'}) }}" title="Kontakt">Kontakt</a>
            </li>
            <li>
                <a href="{{ path('_content', {'action': 'imprint'}) }}" title="Impressum">Impressum</a>
            </li>
            <li>
                <a href="{{ path('_content', {'action': 'help'}) }}" title="Hilfe zur Suche">Hilfe zur Suche</a>
            </li>
        </ul>
    </div>
    <div class="footer_right">
    </div>
</div>
