<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Göttinger Digitalisierungszentrum{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" title="Feed" href="http://gdz.sub.uni-goettingen.de/rss/gdzdocserver" />
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}"/>
</head>
