<ul>
    {% for document in documents %}
        <li>
            <a href="{{ path('_detail', {'id': document.fields.id}) }}">
                {% if document.fields.title is defined %}
                    {{ document.fields.title.0 }}
                {% else %}
                    {{ document.fields.id }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
