<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <style type="text/css">
        html, body, #map {
            height: 100%;
            margin: 0;
        }
    </style>
    <script src="{{ asset('js/vendor.js') }}"></script>
</head>
<body>
<div id="map"></div>
<script>
    var map = L.map('map', {
        center: [0, 0],
        crs: L.CRS.Simple,
        zoom: 0
    }).addLayer(L.tileLayer.iiif('{{ path('_iiifjson', {"identifier": identifier}) }}'));

    map.on('move', function (ev) {
        var parameters = {
            "latlon": map.getBounds().getCenter(),
            "zoom": map.getZoom()
        };

        window.location.hash = JSON.stringify(parameters);
    });
</script>
</body>
