@mixin button($modifier: null) {
    border: 0;
    border-radius: $br;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size;
    line-height: $line-height;
    margin: 0;
    min-width: $grid * 1.5;
    padding: ($grid / 4) .5em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    @if $modifier == link {
        @include transition(background);
        box-shadow: none;
        color: $link-color;

        @include hover {
            background: $link-hover-bg-color;
            transition: none;
        }
    } @else if $modifier == light {
        box-shadow: $card-shadow;
        color: $text-color;
        background: linear-gradient(to bottom, #fff, shade(#fff, 5));
        text-shadow: 0 1px $shine;

        @include hover {
            background: linear-gradient(to bottom, shade(#fff, 5), shade(#fff, 10));
            color: shade($text-color, 20);
        }
    } @else {
        background: linear-gradient(to bottom, tint($link-color, 10), shade($link-color, 10));
        color: #fff;
        text-shadow: $shade-inset;

        @include hover {
            background: linear-gradient(to bottom, shade($link-color, 10), shade($link-color, 30));
        }
    }
}
