@mixin button($modifier: null) {
    border: 0;
    border-radius: $br;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size;
    line-height: $line-height;
    margin: 0;
    min-height: $grid * 1.5;
    min-width: $grid * 1.5;
    padding: ($grid / 4) .5em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;

    @if $modifier == link {
        @include hover {
            background: linear-gradient(to bottom, tint($link-hover-bg-color, 30), tint($link-hover-bg-color, 10));
            color: shade($link-color, 20);
        }
    } @else if $modifier == light {
        color: $text-color;
        background: linear-gradient(to bottom, tint(#e7e7e7, 10), shade(#e7e7e7, 10));
        text-shadow: 0 1px $light;

        @include hover {
            background: linear-gradient(to bottom, tint(#e7e7e7, 30), tint(#e7e7e7, 10));
            color: shade($text-color, 20);
        }
    } @else {
        background: linear-gradient(to bottom, tint($link-color, 10), shade($link-color, 10));
        color: #fff;
        text-shadow: 0 -1px rgba(#000, .6);

        @include hover {
            background: linear-gradient(to bottom, shade($brand-color, 10), shade($brand-color, 30));
        }
    }
}
