@mixin input {
	@include transition(border);
	background: $white;
	border: $border-width solid $grey;
    border-radius: $br;
	font: inherit;
	margin: round(-$grid / 8 - $border-width) 0;
	padding: round($grid / 8) .5em;
	vertical-align: top;

	&:focus {
		border-color: $brand-color;
		outline: 0;
	}
}
