@mixin input {
	@include transition(border);
	background: $white;
	border: $border-width solid $shade;
    border-radius: $br;
	font: inherit;
	padding: ($grid / 8) .5em;

	&:focus {
		border-color: $brand-color;
		outline: 0;
	}
}
