@mixin link($with-border: true, $on-dark-background: false) {
    @include transition(background, box-shadow);

    @if $on-dark-background {
        color: $white;
    } @else {
        color: $link-color;
    }

    @if $with-border {
        box-shadow: 0 -5px 0 $link-hover-bg-color inset; // depends on font metrics
    } @else {
        box-shadow: none;
    }

    @include hover {
        background: $link-hover-bg-color;
        box-shadow: 0 -5px 0 transparent inset;

        @if $on-dark-background {
            color: $white;
        }
    }
}
