@mixin title-toggle($background-color) {
    @include button(link);
    background: $background-color;
    display: none;
    float: right;
    font-weight: normal;
    min-height: 0;
    padding: 0 ($grid / 4);

    &.-expand {
        @include icon(chevron-down, false);
        position: absolute;
        bottom: 0;
        right: 0;

        &::after {
            background: linear-gradient(to right, rgba($background-color, 0), rgba($background-color, 1));
            content: '';
            display: block;
            height: $grid;
            margin-left: (-$grid * 3.25); // width + button padding
            pointer-events: none;
            position: absolute;
            top: 0;
            width: ($grid * 3);
        }
    }

    &.-collapse {
        @include icon(chevron-up, false);
    }
}
